:root{
    --color-container:#ffffff;
    --color-background--body: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;;
}

body{
    max-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: "header header"
                            "nav nav"
                            "main main";  
    grid-template-columns: minmax(25%,425px) minmax(75%,425px);
    background: var(--color-background--body);
}

/* Comienzo a dar estilo al header para el primer Media query */
header {
    grid-column: 1/3;
    display: flex;
    width: 100%;
    height: 8rem;
    background-color: var(--color-container);
}

header img{
    width: 19rem;
    height: 5rem;
    margin: auto;
}

/* Comienzo a dar estilo al nav en el primer Media */
nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    height: 9.5rem;
    background:var(--color-background--body)
 
}
nav .nav__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ffffff;
    border-radius: 50%;
    width: 6.7rem;
    height: 6.4rem;
}

nav .nav__container a {
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav .nav__container a img {
    width: 4rem;
    height: 4rem;
    line-height: 0;
    transition: transform 0.8s ease;
    transition-delay: 0.1s;
    align-self: center;
}
nav .nav__container p {
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    width: 5rem;
    text-align: center;
    visibility: collapse;

}
/* Aqui esta la transoformacion del nav */
nav .nav__container:hover a img {
   visibility: collapse;
   position: absolute;
}
 nav .nav__container:hover {
    border: rgb(235, 210, 19) solid 0.3rem;
 }

nav .nav__container:hover p {
    visibility: visible;
    font-size: 1rem;
    line-height: 1.1rem;
    font-weight: 500;
}
/* Aqui terminan las transformaciones */
/* Aqui comienzo agregar estilos a cada uno de los templates */
main{
    grid-area: main;
}

/* Aqui comienza el estilo del formulario para agregar campaña */

main h1{
    grid-column: 1/2;
    grid-area: h1;
    width: 100%;
    height: 6rem;
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background:var(--color-container)
}

/* Le doy estilo al formulario de Agregar Campaña */
main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
}

main form .section__inputs{
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    width: 90%;
    height: 70%;
    background: var(--color-container);
    border-radius: 2rem;
    margin: 0.5rem;
    padding:2rem 1rem;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Section__form--input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .section__inputs label{
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0.5rem;

}

main form .section__inputs .Section__form--input input, select{
    position: relative;
    align-self: center;
    width: 80%;
    height: 3rem;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    margin:0 auto;
}

main form .form__button{
    display: flex;
    background-color: var(--color-container);
    width: 100%;
    justify-content: center;
}

main form .form__button input{
    width: 10rem;
    height: 3.5rem;
    margin: 0.5rem 0;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    background:linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
    color: var(--color-container);
    border-radius: 30px;
    justify-self: center;
}

main form .form__button input:hover{
    background: #ffffff;
    color: #000000;
}
/* Aquí Termina el estilo del formulario para agregar campaña */

/* Aqui comienza el estilo del para la ventana de  campaña agregada */
#main__container--campaing{
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    background:var(--color-container);
    border-radius: 30px;
    width: 80%;
}

main .main__container--image{
    display: flex;
    width: 10rem;
    height: 9.8rem;
    justify-content: center;
    margin: 1rem auto;
}
#main__container--campaing h1{
    background: transparent;
    font-weight: 600;
    font-size: 2rem;
    line-height: 115.5%;
}

main .main__container--image img{
    height: 10rem;
    width: 10rem;
}

main .main__container--letter p{
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 115.5%;
    width: 100%;
    text-align: center;
    margin: 3rem auto;
}

main .main__container--letter ul li{
    position: relative;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 115.5%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    left: 1rem;
}
/* Aqui termina el estilo para la ventana de la  campaña */

/* Aqui comienza el estilo para el ingreso de usuarios  */
#main__signup{
    justify-self: center;
    display: flex;
    flex-direction: column;
    max-height: 98vh;
    background:var(--color-container);
    border-radius: 30px;
    width: 90%;
}
#main__signup .main__image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11rem;
}
#main__signup .main__image img{
    justify-content: cenetr;
    width: 8.2rem;
    height: 8rem;
}

#main__signup .section__Form--signup{
    background: transparent;
    display: flex;
    align-items: stretch;
    margin:0.5rem 0;
}

#main__signup .section__Form--signup p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main__signup .section__Form--signup p label{
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin:1rem 0;
}

#main__signup .section__Form--signup p select,input{
    position: relative;
    align-self: center;
    width: 80%;
    height: 2.5rem;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    margin:0.5rem auto;
}

#main__signup .section__Form--signup p span,ul{
    position: absolute;
    visibility: collapse;
}
.form__button--singup {
    display: flex;
    justify-content: center;
}

.form__button--singup input{
    width: 10rem;
    height: 3rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    background:linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
    color: var(--color-container);
    border-radius: 30px;
    justify-self: center
}

/* Aqui terminan los estilos para el ingreso de ususariios */

/* Aquí comienzan los media queries */
@media(min-width: 768px){
    nav{
        height: 8rem;
    }

    #id_Marca,#id_Canal,#id_Fecha_envio{
        width: 50%;
    }

    main form .section__inputs {
    padding:2rem 1rem 2rem 10rem;
    }
}

/* Aquí comienza el segundo media query */
@media(min-width: 1024px){
    body{
        display: grid;
        grid-template-areas: "header main"
                                "nav main"
                                "nav main";  
        grid-template-columns: minmax(25%,1440px) minmax(75%,1440px);
        width: 100%;
    }
/* Comienzo a dar los estilos al header en el Segundo Media */
    header{
        grid-area: header;
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        height: 8rem;
        background-position: center;
        margin-top: 1rem;

    }
/* Comienzo a dar los estilos al nav en el Segundo Media */
    nav {
        grid-area: nav;
        grid-column: 1/2;
        grid-row: 2/4;
        display: flex;
        flex-direction: column;
        height: max-content;
        background: var(--color-container);
        align-items: center;
        justify-content:space-evenly;

    }

    nav .nav__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: transparent;
        border-radius: 50%;
        height: 12rem;
        width: 100%;
        padding-left: 1.5rem;
        margin: 1rem auto;

    }
    
    nav .nav__container a {
        height: 9rem;
        width: 9rem;
    }
    
    nav .nav__container a img {
        height: 8rem;
        width: 8rem;
        align-items: center;
    }
    
    nav .nav__container p {
        font-size: 2rem;
        font-weight: 400;
        visibility: collapse;
    }

    nav .nav__container:hover p {
        visibility: visible;
        width: 16rem;
    }
    
    main{
        min-height:100vh;
        grid-area: main;
        display: grid;
        grid-template-areas: "h1"
                            "form";
        grid-template-rows: minmax(15%,1440px) minmax(85%,1440px);
        background:linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
        
    }

    main h1{
        grid-column: 1/2;
        grid-area: h1;
        width: 100%;
        height: 8rem;
        font-style: normal;
        font-weight: 700;
        font-size: 5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--color-container);
    }
    
    /* Aquí comeinzo a dar estilo al formulario de Agregar Campaña */
    main form {
        grid-column: 1/2;
        display:grid;
        grid-template-areas: "first first"
                                "second third "
                                "button button";
        grid-template-columns: minmax(50%,1440px) minmax(50%,1440px);
        grid-template-rows: minmax(45%,1440px) minmax(45%,1440px) minmax(10%,1440px);
        justify-items: center;
        align-items: center;
    }

    main form .section__inputs{
        width: 90%;
        height: 90%;
        margin: 1rem;
        padding: 0 0 0 6rem;
        align-content: center;
    }

    main form .section__inputs label{
        font-size: 1.8rem;
        margin: 0;
    
    }
    
    main form .section__inputs .Section__form--input input, select{
        align-self: center;
        width: 80%;
        height: 2.2rem;;
        font-size: 1.6rem;
        margin:0;
    }

    main form .section__inputs--first{
        grid-area: first;
        display: grid;
        grid-template-areas: "date email"
                             "campaing campaing"
                             "trademark channel";
        grid-template-columns: minmax(50%,1440px) minmax(50%,1440px);
        grid-template-columns: repeat(3, minmax(1fr,1440px));
    }
    
    #input__date{
        grid-area:date
    }
    #input__email{
        grid-area: email;
    }
    #input__campaing{
        grid-area: campaing;
    }
    #input__trademark{
        grid-area: trademark;
    }
    #input__chanel{
        grid-area: channel;
    }

    main form .section__inputs--second{
        grid-area: second;
        display: flex;
        justify-content: center;

    }

    main form .seccion__inputs--third{
        grid-area:third;
        display: flex;
        justify-content: center;
    }

    main form .form__button{
        grid-area: button;
        display: flex;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-image: url(./logo_sodicmac_black.svg);
        background-size: 10%;
    }
    /* Aquí termino de dar estilo al formulario de agregar campaña */
    /* Aqui comienzo a dar estilo a campaña agregada
      */
    #main__container--campaing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background:#ffffff;
        background-image: url(./logo_sodicmac_black.svg);
        background-size: 25%;
    }
    #main__container--campaing h1{
        color: #000000
    }
    main .main__container--letter{
        color: #000000;
        background:linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
        border-radius: 30px;
        margin: 0 auto;
    }

    main .main__container--letter p{
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        width: 100%;
        text-align: center;
        margin: 3rem auto;
        color: #ffffff;
    }
    main .main__container--letter ul{
        width: 90%;
        margin: 1rem auto;
        padding-left: 1rem;
        border-radius: 30px;
        color: #000000
    }
    main .main__container--letter ul li{
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        list-style: none;
        margin: 2rem 0;
    }

    main form .form__button--input{
        grid-row: 1/4;
        width: 100%;
        justify-items: center;
    }
/* aquí comienzo a dar estilo campaña agregada */
}


