<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'Form/stylemenu.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="main__container--logo">
            <img
            class="main__image--sodimac" src="{% static 'core/Form/logo-sodimac.svg' %}" alt="Este es el logo de sodimac, la empresa"/>
        </div>
        <section class="main__container--image">

            <section class="container__image main__image--lefth">
                <a href="#"><img src="{% static 'core/Form/logo-user.svg'%}" alt="Este es el logo de agregar ususario"></a>
                <p>Agregar Usuario</p>
            </section>

            <section class="container__image main__image--right">
                <a href="#"><img src="{% static 'core/Form/logo-campaing.svg'%}" alt="Este es el logo de agregar campaña"></a>
                <p>Agregar Campaña</p>
            </section> 
        </section>
    </main>
    
</body>
</html>