<!doctype html>
<html lang="en">

<head>

    {% load static %}
    <meta charset="utf-8" />
    <title>Sodimac || CALA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'core/images/icon.png' %}">
    {% block links %}

    {% endblock%}
    <!-- Bootstrap Css -->
    <link href="{% static 'core/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/css/bootstrap.min.css' %}"  rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'core/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'core/css/app.min.css' %}" rel="stylesheet" type="text/css" /> 

    {% block linkstables %}
    {% endblock %}
    
</head>


<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">

                       <!-- LOGO -->
                 <div class="navbar-brand-box">
                    <a href="{% url 'dash' %}" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{% static 'core/images/sodimac-logo-icon.png' %}" alt="" height="40">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'core/images/sodimac-logo.png' %}" alt="" height="20">
                        </span>
                    </a>

                    <a href="{% url 'dash' %}" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="{% static 'core/images/logo-sm.png' %}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'core/images/logo-light.png' %}" alt="" height="20">
                        </span>
                    </a>
                </div>

                    <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                        <i class="mdi mdi-menu"></i>
                    </button>

                </div>

                 <!-- Search input -->
                 <div class="search-wrap" id="search-wrap">
                    <div class="search-bar">
                        <input class="search-input form-control" placeholder="Search" />
                        <a href="index.html#" class="close-search toggle-search" data-target="#search-wrap">
                            <i class="mdi mdi-close-circle"></i>
                        </a>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="dropdown d-none d-lg-inline-block">
                        <button type="button" class="btn header-item toggle-search noti-icon waves-effect" data-target="#search-wrap">
                            <i class="mdi mdi-magnify"></i>
                        </button>
                    </div>

                    <div class="dropdown d-none d-lg-inline-block ms-1">
                        <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                            <i class="mdi mdi-fullscreen"></i>
                        </button>
                    </div>

                    

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="{% static 'core/images/users/avatar.png' %}"
                                alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1">{{user}}</span>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="{% url 'lock' %}"><i class="mdi mdi-lock-open-outline font-size-16 align-middle me-1"></i> Bloquear Pantalla</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="{% url 'logout' %}"><i class="mdi mdi-power font-size-16 align-middle me-1 text-danger"></i> Salir </a>
                        </div>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                            <i class="mdi mdi-cog-outline font-size-20"></i>
                        </button>
                    </div>
            
                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">


                <div class="user-sidebar text-center">
                    <div class="dropdown">
                        <div class="user-img">
                            <img src="{% static 'core/images/users/avatar.png' %}" alt="" class="rounded-circle">
                            <span class="avatar-online bg-success"></span>
                        </div>
                        <div class="user-info">
                            <h5 class="mt-3 font-size-16 text-white">{{user.name}}</h5>
                        </div>
                    </div>
                </div>



                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Menú</li>

                        <li>
                            <a href="{% url 'dash' %}" class="waves-effect">
                                <i class="dripicons-home"></i><span class="badge rounded-pill bg-info float-end"></span>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="menu-title">Funciones</li>
           
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="dripicons-to-do"></i>
                                <span>Formularios</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'formulario' %}">Campañas</a></li>
                                <li><a href="{% url 'provisiones' %}">Provisiones</a></li>
                                <li><a href="{% url 'formulario'%}">Reportes</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow waves-effect">
                                <i class="dripicons-toggles"></i>
                                <span>Tablas</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'tablacamp' %}">Campañas</a></li>
                                <li><a href="{% url 'tablaprov' %}">Provisiones</a></li>
                                <li><a href="{% url 'tablarep' %}">Reportes</a></li>
                            </ul>
                        </li>

                        </li>

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">

                <!-- start page title -->
                <div class="page-title-box">
                    <div class="container-fluid">
                     <div class="row align-items-center">
                         <div class="col-sm-6">
                            {% block contentitle %}
                            {% endblock %}
                         </div>

                         <div class="col-sm-6">
                            <div class="float-end d-none d-sm-block">
                                <a href="" class="btn btn-success">Add Widget</a>
                            </div>
                         </div>
                     </div>
                    </div>
                 </div>
                 <!-- end page title -->    
                {% block content %}
                {% endblock %}
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Sodimac - Cala-Analytics.
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center px-3 py-4">
            
                <h5 class="m-0 me-2">Configuración</h5>

                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
            </div>

            <!-- Settings -->
            <hr class="mt-0" />
            <h6 class="text-center mb-0">Seleccionar Tema</h6>

            <div class="p-4">
                <div class="mb-2">
                    <img src="{% static 'core/images/layouts/layout-1.jpg' %}" class="img-fluid img-thumbnail" alt="layout-1">
                </div>

                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="light-mode-switch" checked>
                    <label class="form-check-label" for="light-mode-switch">Light Mode</label>
                </div>
    
                <div class="mb-2">
                    <img src="{% static 'core/images/layouts/layout-2.jpg' %}" class="img-fluid img-thumbnail" alt="layout-2">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="dark-mode-switch" data-bsStyle="{% static 'core/css/bootstrap-dark.min.css' %}" data-appStyle="{% static 'core/css/app-dark.min.css' %}">
                    <label class="form-check-label" for="dark-mode-switch">Dark Mode</label>
                </div>
            </div>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="{% static 'core/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'core/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'core/libs/node-waves/waves.min.js' %}"></script>

    <!-- apexcharts -->
    {% block scripts %}
    
    {% endblock %}
    
    <script src="{% static 'core/js/app.js' %}"></script>
</body>

</html>