<!doctype html>
<html lang="en">

<head>

    {% load static %}
    <meta charset="utf-8" />
    <title>Login page | Morvin - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'core/images/favicon.ico' %}">

    <!-- Bootstrap Css -->
    <link href="{% static 'core/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'core/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'core/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />


</head>


<body class="authentication-bg bg-primary">
    <div class="home-center">
        <div class="home-desc-center">

            <div class="container">

                <div class="home-btn"><a href="index.html" class="text-white router-link-active"><i
                            class="fas fa-home h2"></i></a></div>


                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="px-2 py-3">


                                    <div class="text-center">
                                        <a href="index.html">
                                            <img src="{% static 'core/images/logo-dark.png' %}" height="22" alt="logo">
                                        </a>

                                        <h5 class="text-primary mb-2 mt-4">Welcome Back !</h5>
                                        <p class="text-muted">Sign in to continue to Morvin.</p>
                                    </div>
                                    {% block content %}
                                    {% endblock %}

                                </div>
                            </div>
                        </div>
                        {% block content2 %}
                        {% endblock %}
                    </div>
                </div>

            </div>


        </div>
        <!-- End Log In page -->
    </div>

    <!-- JAVASCRIPT -->
    <script src="{% static 'core/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'core/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'core/libs/node-waves/waves.min.js' %}"></script>

    <script src="{% static 'core/js/app.js' %}"></script>

</body>

</html>