/********* Wood **********/

.form-submit-button-wood{

    cursor: pointer;
    
    -moz-border-radius:.5em;
    -webkit-border-radius:.5em;
    border-radius:.5em;

    padding:8px 18px;

    color: #5e2003;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;

    text-shadow:1px 1px 0px #eb9b58;

    border:1px solid #91350a !important;

    -moz-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.40), 0 1px 1px 0 rgba(0, 0, 0, 0.40);
    -webkit-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.40), 0 1px 1px 0 rgba(0, 0, 0, 0.40);
    box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.40), 0 1px 1px 0 rgba(0, 0, 0, 0.40);

    background: #c75e26;
    background-image: url('/images/wood.png');
}

.form-submit-button-wood:hover{

    color: #852d04 !important;
    border:1px solid #91350a !important;
    background: #da936e;
    background-image: url('/images/wood.png');
}

.form-submit-button-wood:active{

    color: #521c02 !important;
    border:1px solid #91350a !important;
    background: #c75e26;
    background: url('/images/wood.png');
    
    -moz-box-shadow:inset 0 2px 5px 0 rgba(0,0,0,.34);
    -webkit-box-shadow:inset 0 2px 5px 0 rgba(0,0,0,.34);
    box-shadow:inset 0 2px 5px 0 rgba(0,0,0,.34);
}
