{% extends 'core/index.html' %}
{% load static %}}

{% block links %}
        <link href="{% static 'core/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'core/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'core/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />  
{% endblock %}

{% block contentitle %}
<div class="page-title">
    <h4>FORMULARIOS</h4>
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">Funciones</a></li>
            <li class="breadcrumb-item"><a href="javascript: void(0);">Tablas</a></li>
            <li class="breadcrumb-item active">Campañas</li>
        </ol>
</div>
{% endblock %}
{% block content %}<div class="container-fluid">
  <div class="page-content-wrapper">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body">

                      <h4 class="header-title">Tabla de Campañas</h4>
                      <p class="card-title-desc">Base de datos de las campañas generados</code>.
                      </p>

                      <table id="table_campanha" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                          <thead>
                          <tr>
                              <th>Nombre de Campaña</th>
                              <th>Marca</th>
                              <th>Canal</th>
                              <th>Email</th>
                              <th>Prioridad</th>
                              <th>Fecha de envio</th>
                          </tr>
                          </thead>
                          
                          <tbody>
                          {% for item in camp %}
                            <tr>
                                <td>{{item.Nombre_campanha}}</td>
                                <td>{{item.Marca}}</td>
                                <td>{{item.Canal}}</td>
                                <td>{{item.Email}}</td>
                                <td>{{item.Prioridad}}</td>
                                <td>{{item.Fecha_envio}}</td>
                            </tr>
                          {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div> <!-- end col -->
      </div> <!-- end row -->
  </div>
</div> <!-- container-fluid -->
{% endblock %}

{% block scripts %}
         <script src="{% static 'core/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
         <script src="{% static 'core/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
         <!-- Buttons examples -->
         <script src="{% static 'core/libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
         <script src="{% static 'core/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
         <script src="{% static 'core/libs/jszip/jszip.min.js' %}"></script>
         <script src="{% static 'core/libs/pdfmake/build/pdfmake.min.js' %}"></script>
         <script src="{% static 'core/libs/pdfmake/build/vfs_fonts.js' %}"></script>
         <script src="{% static 'core/libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
         <script src="{% static 'core/libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
         <script src="{% static 'core/libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
         <!-- Responsive examples -->
         <script src="{% static 'core/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
         <script src="{% static 'core/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

          <!-- Datatable init js -->
        <script src="{% static 'core/js/pages/datatables.init.js' %}"></script> 
{% endblock %}