{% extends 'core/base.html' %}
{% load static %}
{% block title %}Formulario{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <img src="{% static 'core/img/envio.png' %}" class="img-fluid"/>
      </div>
      <div class="col-md-6 mt-3">
        <h1>Campaña enviada</h1>
			<table>
				<div>
					<b>El Id es: {{camp.Campanaha_id}}</b>
				</div>
				<div>
					<b>El Nombre de la Campaña es: {{camp.Nombre_campanha}}</b>
				</div>
				<div>
					<b>El numero de registro es: {{camp.N_registro}}</b>
				</div>
			</table>
      </div>
	<a class="nav-link" href="{% url 'formulario' %}">regresar</a>
    </div>
  </div>
</main>
{% endblock %}
	