{% extends 'core/index.html' %}
{% load static %}
{% block title %}Formulario{% endblock %}

{% block links %}
        <link href="{% static 'core/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'core/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'core/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />  
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6 col-xl-5">
    <div class="card">
      <div class="card-body">
        <div class="px-2 py-3">
          <div class="text-center">
            <a href="{% url 'login' %}">
              <img src="{% static 'core/images/sodimac-logo.png' %}" alt="this is logo for add user" height="22" alt="logo">
            </a>

            <h1 class="text-success mb-2 mt-4">Campaña Agregada</h1>
            <p class="text-muted">¡La campaña fue agregada con éxito!</p>


            <table style="border-collapse: collapse; border-spacing: 0; width: 100%;">
              <thead>
              <tr>
                  <th>ID CAMPAÑA</th>
                  <th>NOMBRE CAMPAÑA</th>
                  <th>REGISTRO</th>
              </tr>
              </thead>
              
              <tbody>
                <tr>
                    <td>{{ID}}</td>
                    <td>{{Nombre_C}}</td>
                    <td>{{N_registros}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

{% endblock %}

{% block scripts %}
         <script src="{% static 'core/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
         <script src="{% static 'core/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
         <!-- Buttons examples -->
         <script src="{% static 'core/libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
         <script src="{% static 'core/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
         <script src="{% static 'core/libs/jszip/jszip.min.js' %}"></script>
         <script src="{% static 'core/libs/pdfmake/build/pdfmake.min.js' %}"></script>
         <script src="{% static 'core/libs/pdfmake/build/vfs_fonts.js' %}"></script>
         <script src="{% static 'core/libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
         <script src="{% static 'core/libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
         <script src="{% static 'core/libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
         <!-- Responsive examples -->
         <script src="{% static 'core/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
         <script src="{% static 'core/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

          <!-- Datatable init js -->
        <script src="{% static 'core/js/pages/datatables.init.js' %}"></script> 
{% endblock %}