{% extends 'core/base.html' %}
{% load static %}
{% block title %}Formulario{% endblock %}
{% block content %}
<main class="main__campaing">
  <div class="main__image">
    <img src="{% static 'core/logo-campaing.svg'%}" alt="this is logo for add user" width="1000" height="1000"></a>
  </div>
  <h1 class=>Campaña Agregada</h1>
    <p>¡La campaña fue agregada con éxito!</p>
    <ul>
      <li> El id de la campaña es: </li>
      <li>El nombre de la Campaña es: </li>
      <li>Registro: </li>
    </ul> 
</main>
{% endblock %}
	