{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}Formulario{% endblock %}
{% block content %}
<div class="container">
  <div style="padding-top:50px; text-align:center;">
    <h1>Campañas</h1>
		{% if "ok" in request.GET %}
			<div class="alert alert-success" role="alert">
				Se envió la campaña y se registró el id es
			</div>
		{% endif %}	
		<form action="{% url 'formulario'%}" method="POST">
			<table>
			{% csrf_token %}
				<div>
					<label>Nombre de la Campaña</label>
					<div class="form-group mx-sm-3 mb-2">
						{{form.Nombre_campanha}}
					</div>
					{{form.Nombre_campanha.errors}}
				</div>
				<div>
					<label>Marca</label>
					<div class="form-group mx-sm-3 mb-2">
						{{form.Marca}}
					</div>
					{{form.Marca.errors}}
				</div>
				<div>
					<label>Canal</label>
					<div class="form-group mx-sm-3 mb-2">
						{{form.Canal}}
					</div>
					{{form.Canal.errors}}
				</div>
				<div>
					<label>Fecha de envio</label>
					<div class="form-group mx-sm-3 mb-2">
						{{form.Fecha_envio}}
					</div>
					{{form.Fecha_envio.errors}}
				</div>
				<div>
					<label>Email</label>
					<div class="form-group mx-sm-3 mb-2">
						{{form.Email}}
					</div>
					{{form.Email.errors}}
				</div>
				<div>
					<label>Tipo de Usuario</label>
					<div class="form-group mx-sm-3 mb-2">
						{{form.Tipo_usuario}}	
					</div>
					{{form.Tipo_usuario.errors}}
				</div>
				<div>
					<label>Nombre de la tabla (Camapañas no automatizadas)</label>
					<label>no ingresar el tipo de usuario</label>
					<div class="form-group mx-sm-3 mb-2">
						{{form.Table_name}}	
					</div>
					{{form.Tipo_usuario.errors}}
				</div>
				<div>
					<label>Nombre del Campo</label>
					<div class="form-group mx-sm-3 mb-2">
						{{form.Nombre_campo}}	
					</div>
				</div>
				<div>
					<label>Campo</label>
					<div class="form-group mx-sm-3 mb-2">
						{{form.Campo}}	
					</div>
				</div>
				<div>
					<label>Prioridad</label>
					<div class="form-group mx-sm-3 mb-2">
						{{form.Prioridad}}
					</div>
					{{form.Prioridad.errors}}
				</div>
				<p>
					<input type="submit" value="Disparar" href="{% url 'campaña' %}">
				</p>	
			</table>
		</form>
  </div>
</div>
{% endblock %}