{% extends 'core/index.html' %}
{% load static %}
{% block contentitle %}
<div class="page-title">
    <h4>FORMULARIOS</h4>
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">Funciones</a></li>
            <li class="breadcrumb-item"><a href="javascript: void(0);">Formularios</a></li>
            <li class="breadcrumb-item active">Campañas</li>
        </ol>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="page-content-wrapper">
    <div class="row">              
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body">
            <h1 class="header-title mb-4">Agregar Campaña</h1>   
            <form novalidate class="" action="{% url 'formulario'%}" method="POST">
            {% csrf_token %}
              <section class="section__inputs section__inputs--first">
                <div class="Section__form--input" id="input__campaing">
                  <label class="form__label--input" id="label__campaing" for="cid_3">Nombre de la Campaña</label>
                  {{form.Nombre_campanha}}
                </div>
                {{form.Nombre_campanha.error}}
                <div class="row">
                    <div class="col-md-6">
                      <label class="form-label form-label-left form-label-auto" id="label_15" for="input_15">Marca</label>
                      {{form.Marca}}
                    </div>
                    {{form.Marca.error}}
                    <div class="col-md-6">
                      <label
                      class="form-label form-label-left form-label-auto"
                      id="label_16"
                      for="input_16"
                      >Canal</label>
                      {{form.Canal}}
                    </div>
                    {{form.Canal.error}}
                </div>
                <div class="row">
                  <div class="col-md-6" id="input__date">
                    <label class="form-label form-label-left form-label-auto" id="label_10" for="lite_mode_10">Fecha de envío </label>
                    {{form.Fecha_envio}}
                  </div>
                  {{form.Fecha_envio.error}}
                  <div class="col-md-6">
                    <label class="form-label form-label-left form-label-auto" id="label_32" for="input_32" >Prioridad</label>
                    {{form.Prioridad}}
                  </div>
                  {{form.Prioridad.error}}
                </div>
                {% comment %} Aquí comeinza el input deemail {% endcomment %}
                <div class="Section__form--input" id="input__email">
                <label class="form-label form-label-left form-label-auto" id="label_17" for="input_17">Email</label>
                {{form.Email}}
                </div>
                {{form.Email.error}}
                </section>
              </div>
            </div>
          </div>
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                 <section class="section__inputs section__inputs--second">
                
                  <div class="row">

                    <div class="col-md-11" >
                      <h1 class="header-title mb-4">Campos Dinamicos</h1>
                    </div>

                    <div class="col-md-1" >
                      <input type="checkbox" id="square-switch1" switch="none" checked />
                      <label for="square-switch1" data-on-label="On"data-off-label="Off"></label>
                    </div>

                  </div>

                </section>
                <section class="section__inputs section__inputs--second">
                
                  <div class="row">

                    <div class="col-md-6" >
                      <label class="form-label form-label-left" id="label_28" for="input_28">Segmento Necesidad</label>
                      {{form.Tipo_usuario}}
                    </div>
                    {{form.Tipo_usuario.error}}
                    <div class="col-md-6">
                      <label class="form-label form-label-left" id="label_28" for="input_28">Segmento Valor</label>
                      {{form.Table_name}}
                    </div>
                    {{form.Table_name.error}}
                  </div>

                </section>
                <section class="section__inputs seccion__inputs--third">

                  <div class="row">
                    <div class="col-md-6"> 
                      <label class="form-label form-label-left form-label-auto" id="label_29" for="input_29">Ciclo de Vida</label>
                      {{form.Nombre_campo}}
                    </div>
                    {{form.Nombre_campo.error}}
                    <div class="col-md-6">
                    <label class="form-label form-label-left form-label-auto" id="label_30" for="input_30" >Tienda Frecuente</label>
                    {{form.Valor_Campo}}
                    </div>
                    {{form.Valor_Campo.error}}
                  </div>

                </section>
                <div class="form-horizontal mt-4 pt-2">
                  <input class="btn btn-primary w-100 waves-effect waves-light" type="submit" value="Disparar" href="{% url 'formulario' %}"/>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
