{% extends 'core/resgis.html' %}
{% load static %}
{% block content3 %}
<div class="text-center">
    <a href="index.html">
        <img src="{% static 'core/images/sodimac-logo.png' %}" height="22" alt="logo">
    </a>

    <h5 class="text-primary mb-2 mt-4">Bienvenido de nuevo!</h5>
    <p class="text-muted">Ingresa credenciales para continuar</p>
</div>
{% endblock%}

{% block content %}
<style>.errorlist{color:red;}</style>

        <form action="" method="post">{% csrf_token %}
          {% if form.non_field_errors %}
            <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
          {% endif %}
          <p>
            <label for="username">Usuario</label>
            <input type="text" name="username" autofocus maxlength="254" required
              id="id_username" class="form-control" placeholder="Nombre de usuario"/>
          </p>
          <p>
            <label for="userpassword">Contraseña</label>
            <input type="password" name="password" required
              id="id_password" class="form-control" placeholder="Contraseña"/>
          </p>

        <div class="mb-3">
          <div class="form-check">
              <input type="checkbox" class="form-check-input"
                  id="customControlInline">
              <label class="form-label"
                  for="customControlInline">Recuérdame</label>
          </div>
        </div>
          <p><input type="submit" class="btn btn-primary w-100 waves-effect waves-light" value="Acceder"></p>

          <div class="mt-4 text-center">
              <a href="{% url 'password_reset' %}" class="text-muted"><i class="mdi mdi-lock me-1"></i> Olvidaste tu contraseña?</a>
          </div>
        </form>

{% endblock %}

{% block content2 %}
<div class="mt-5 text-center text-white">
    <p>No tienes cuenta ?<a href="{% url 'signup' %}" class="fw-bold text-white"> Registrar </a> </p>
    <p>© <script>document.write(new Date().getFullYear())</script> <a href="https://www.homecenter.com.co/" target="_blank">Sodimac</a> - <a href="https://www.cala-analytics.com/" target="_blank">Cala-Analytics</a></p>
</div>
{% endblock %}

