{% extends 'core/home.html' %} {% load static %} {% block content %}
<main class="main__reset--done">
  <div class="main__image--sodimac">
    <img
      src="{% static 'core/Form/icon_sodimac.svg'%}"
      alt="Este es el logo de sodimac"
    />
  </div>
  <h1>Restablecimiento de contraseña enviado</h1>
  <p>
    Le hemos enviado por email las instrucciones para restablecer la contraseña,
    si es que existe una cuenta con la dirección electrónica que indicó. Debería
    recibirlas en breve.
  </p>
  <p>
    Si no recibe un correo, por favor asegúrese de que ha introducido la
    dirección de correo con la que se registró y verifique su carpeta de spam.
  </p>
</main>
{% endblock %}
