
{% extends 'core/home.html' %}
{% load static %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main id="main__passwordreset--form">
  <div class='main__image--sodimac'>
    <img src="{% static 'core/Form/icon_sodimac.svg'%}" alt="this is logo for to go at menu">
  </div>
  <h1>Restablecer contraseña</h1>
  <p>¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
  <!-- Container form-->
  <form action="" method="post">{% csrf_token %}
    {{ form.email.errors }}
    <div class='form__input'>
      <input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email"/>
    </div>
    <!-- Container button-->
    <div  class='form__input--button'>
      <input type="submit" class="btn btn-primary btn-block" value="Confirmar">
    </div>
  </form>
</main>
{% endblock %}