{% extends 'core/home.html' %}
{% load static %}
{% block content %}
<main id="main__reset--done">  
        <div class='main__image--sodimac'>
                <img src="{% static 'core/Form/icon_sodimac.svg'%}" alt="this is logo for to go at menu">
      </div>
        <h2>Restablecimiento de contraseña enviado</h2>
        <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
        <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</p>
</main>
{% endblock %}