{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:None}</style>
<main class="main__signup">
  <div class="main__image">
    <img src="{% static 'core/Form/logo-user.svg'%}" alt="this is logo for add user"></a>
  </div>
  <h1>Agregar Usuario</h1>
  <form class='section__Form--signup'action="" method="post">
  {% csrf_token %}
      {{form.as_p}}
    <div class='form__button--singup'>
      <input type="submit" class="btn btn-primary btn-block" value="Acceder">
    </div>
  </form>
</main>
{% endblock %}