{% extends 'core/resgis.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}
<form class="form-horizontal" action="{% url 'login' %}">      
  <div class="mb-3">
      <label for="useremail">Email</label>
      <input type="email" class="form-control" id="useremail" placeholder="Enter email">        
  </div>

  <div class="mb-3">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username">
  </div>

  <div class="mb-3">
      <label for="userpassword">Password</label>
      <input type="password" class="form-control" id="userpassword" placeholder="Enter password">        
  </div>

  <div class="mt-4">
      <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Register</button>
  </div>
  <div class="mt-4 text-center">
      <p class="mb-0">By registering you agree to the Morvin <a href="auth-register.html#" class="text-primary">Terms of Use</a></p>
  </div>
</form>
{% endblock %}

{% block content2 %}
<div class="mt-5 text-center text-white">
    <p>Already have an account ? <a href="auth-login.html" class="fw-bold text-white"> Login </a> </p>
    <p>© <script>document.write(new Date().getFullYear())</script> Morvin. Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://1.envato.market/themesdesign" target="_blank">Themesdesign</a></p>
</div>
{% endblock %}